#searchBarModal {
  position: fixed;
  right: -408px;
  top: 0;
  width: 408px;
  height: 100%;
  background-color: #111b21;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  transition: right 0.5s;

  .modal-header2 {
    margin-top: 1rem;
    text-align: start;
  }

  .modal-header-content2 {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    svg {
      margin-right: 1rem;
    }
  }

  &.show {
    right: 0;
    transition: right 0.5s;
  }
  .input-container2 {
    position: relative;
    display: inline-block;
    width: 384px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .search-input2 {
    padding: 10px 30px 10px 40px;
    width: calc(100% - 70px);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $background-color;
    border: none;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="white" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    color: white;
  }

  .clear-input {
    position: absolute;
    top: 9px;
    right: -16px;
    cursor: pointer;
  }

  .message-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .message-search {
    margin-top: 1rem;
    display: flex;
  }

  .message-search svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 0.5rem;
  }
}
