@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
$background-color: #202c33;
$primaryFont-color:#e9edef;
$secondaryFont-color:#00a884;
$font-family-primary: 'Helvetica', sans-serif;